/* Header mein Welcome Ki CSS Coding */
.welcome
{
  font-family: comic sans ms;
  font-size: 70px;
  /* Color Backgound And Font */
  background-color: aqua;
  color:coral;

  /* Size Define and align*/
  height: 100px;
  width: 980px;
  text-align: center;

  border-radius: 15px;

  margin-left:210px;
}

/* -------------------------------------------------------- */

/* Image Ko Resize Karne Ke liye */
.coverimg
{
  border-radius: 15px;
}

/* -------------------------------------------------------- */

/* Login Button Setting */
.login
{
  color: red;
  margin-left: 1200px;
  font-size: 20px
  
}

/* -------------------------------------------------------- */
.Maintanance
{
  color:red;
  font-size: 40px;
}

/* -------------------------------------------------------- */

.latestnews
{
  /* Color Backgound And Font */
  background-color: #f8ac47;
  color:white;

  /* Size Define and align*/
  height: 60px;
  width: 210px;
  text-align: center;

  border-radius: 10px;
}

/* -------------------------------------------------------- */
.new2{
  background-color: aqua;
  width: 220px;
  border-radius: 15px;
}

/* -------------------------------------------------------- */
.new1{
  color: blue;
  padding: 0px 8px 35px 12px;
}

/* -------------------------------------------------------- */
.new3{
  font-size: 24px;
  text-align: center;
  background-color:#dda75f;
  color: rgb(0, 0, 0);
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}
